body {
    text-align: center;
}
.jumbotron {
    text-align: center;
    background-color: transparent;
    color: rgb(77, 75, 75);
    border-radius: 0;
    border-bottom: 10px solid black;
  }

  .title {
    font-family: 'Staatliches', cursive;
}
.description {
    font-family: 'Montserrat', sans-serif;

}