body {
    text-align: center;
    background-image: url("assets/images/woosh.png");
}

textarea{
    background: ghostwhite;
    color: black;
    border: 2px solid gainsboro;
    padding: 10px;
  }
  
.jumbotron {
    text-align: center;
    background-color: ghostwhite;
    border: 5px solid gainsboro;
    color: dimgray;
    padding: 50px;
  }

  .title {
    font-family: 'Staatliches', cursive;
    font-size: 75px;
}
.description {
    font-family: 'Montserrat', sans-serif;

}
.row {
    white-space: pre-wrap;
    height: 80px;
    border: 1px solid gainsboro;
  }
  
  .hour {
    background-color: ghostwhite;
    color: black;
    border: 2px solid gainsboro;
  }

  #savebtn {
      border: 2px solid gainsboro;
      background-color: ghostwhite;
  }